.picker-wrap {
	position: fixed;
	width: 280px;
	height: 170px;
	left: 50%;
	margin-left: -140px;
	bottom: 10px;
	background-color: rgba(255, 255, 255, 0.2);
    z-index: 110;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url('../image/texture.png');
}

.picker-btn {
    width: 46px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -23px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.picker-div {
    width: 250px;
    height: 25px;
    /* background-color: rgba(255, 255, 255, 0.7); */
    margin: 14px auto;
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.picker-text {
    width: 25px;
    height: 100%;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    font-size: 21px;
    color: rgb(76, 73, 76);
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.picker-bar {
    width: 210px;
    height: 8px;
    display: inline-block;
    margin-bottom: 3px;
    background-color: rgba(109, 90, 108, 0.75);
    position: relative;
    left: 5px;
    background-image: url('../image/texture.png');
}

.picker-bar-drag {
    position: absolute;
    left: 210px;
    top: -9px;
    width: 8px;
    height: 25px;
    background-color: rgba(109, 90, 108, 0.90);
    cursor: pointer;
    transition: all .05s;
}

.picker-circle {
    position: fixed;
    width: 380px;
	height: 120px;
	left: 50%;
	margin-left: -190px;
	top: 20px;
	background-color: rgba(0,0,0, 0.2);
	z-index: 110;
    border-radius: 10px;
    box-shadow:  1px 1px 5px rgba(255,255,255,0.2);
    background-image: url('../image/texture.png');
}

.picker-sm-circle {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    display: inline-block;
    margin: 15px 3px 0 3px;
    position: relative;
}

.picker-sm-circle span {
    position: absolute;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    line-height: 84px;
    text-align: center;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.7);
    text-shadow:  0 0 3px rgba(0,0,0,0.8);
}

.picker-sm-rgba {
    position: absolute;
    top: 0;
    left: 0;
}


.picker-wrap .picker-div:nth-of-type(1) .picker-bar {
    background: linear-gradient(to right, rgba(255,180,180,0.8), rgba(255,0,0,0.8));
}

.picker-wrap .picker-div:nth-of-type(2) .picker-bar {
    background: linear-gradient(to right, rgba(180,255,180,0.8), rgba(0,255,0,0.8));  
}

.picker-wrap .picker-div:nth-of-type(3) .picker-bar {
    background: linear-gradient(to right, rgba(180,180,255,0.8), rgba(0,0,255,0.8));
}

.picker-wrap .picker-div:nth-of-type(4) .picker-bar {
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
}

.picker-bar-drag-one{
    background-color: rgba(255,120,120)!important;
    left: 205px;
}

.picker-bar-drag-two{
    background-color: rgba(120,255,120);
    left: 157px;
}

.picker-bar-drag-three{
    background-color: rgba(120,120,255);
    left: 169px;
}

.picker-bar-drag-four{
    background-color: rgba(255,255,255,0.5);
}


.copy-div {
    position: fixed;
    width: 70px;
    height: 35px;
    background-color: white;
    line-height: 35px;
    text-align: center;
    z-index: 150;
    top: 5px;
    left: 50%;
    margin-left: -35px;
    font-size: 15px;
    transform: translate(0, -40px);
    transition: all .2s linear;
}

.picker-input-rgba {
    position: absolute;
    left: 285px;
    margin-top: -2px;
    width: 40px;
    height: 28px;
    border: none;
    cursor: text;
    box-sizing: border-box;
    padding: 2px 0px;
    /* padding-left: 7px; */
    font-size: 12px;
    text-align: center;
    color: rgb(76, 73, 76);
    background-color: rgba(255, 255, 255, 0.5);
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
}