.picker-wrap {
	position: fixed;
	width: 280px;
	height: 170px;
	left: 50%;
	margin-left: -140px;
	bottom: 10px;
	background-color: rgba(255, 255, 255, 0.4);
    z-index: 110;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* opacity: 0.1; */
}

.picker-btn {
    width: 46px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: -25px;
    left: 50%;
    margin-left: -23px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.picker-div {
    width: 250px;
    height: 25px;
    /* background-color: rgba(255, 255, 255, 0.7); */
    margin: 14px auto;
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.picker-text {
    width: 25px;
    height: 100%;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    font-size: 21px;
    color: rgb(76, 73, 76);
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.picker-bar {
    width: 210px;
    height: 8px;
    display: inline-block;
    margin-bottom: 3px;
    background-color: rgba(109, 90, 108, 0.75);
    position: relative;
    left: 10px;
}

.picker-bar-drag {
    position: absolute;
    left: -4px;
    top: -9px;
    width: 8px;
    height: 25px;
    background-color: rgba(109, 90, 108, 0.90);
    cursor: pointer;
}

.picker-circle {
    position: fixed;
    width: 330px;
	height: 120px;
	left: 50%;
	margin-left: -165px;
	top: 20px;
	/* background-color: rgba(255, 255, 255, 0.4); */
	z-index: 110;
}

.picker-sm-circle {
    width: 75px;
    height: 75px;
    /* border: 5px solid salmon; */
    border-radius: 50%;
    display: inline-block;
    margin: 15px 2px 0 2px;
    position: relative;
}

.picker-sm-circle span {
    position: absolute;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    left: 4px;
    top: 8px;
    line-height: 62px;
    text-align: center;
    font-size: 22px;
    color: white;
}

.picker-sm-rgba {
    position: absolute;
    top: 0;
    left: 0;
}